* {
  background-color: rgb(136, 230, 236);

}
h1 {
  color: rgb(255, 0, 0);
  margin-left:100px;
}
h2{ 
  color:rgb(255, 17, 0);
}
ol {
  color: purple;
  list-style: decimal;
  margin-left: 20px;
  padding: 4px;
}
ul {
  list-style: circle;
  margin-left: 20px;
  padding: 4px;
}
li {
  padding: 3x;
}